body{
  background-color: #0c2232;
  font-family: 'Montserrat', sans-serif;
}

.selectstate{
  color: #ffffff;
  text-align: center;
}

select{
  background-color: #d6e8f5;
}

.card{
  background-color: #d6e8f5;
  padding: 30px 20px;
  margin: 30px 10px;
  color: #0c2232;
}